<IfModule mod_authz_core.c>
    <Files "config.php">
        Require all denied
    </Files>
</IfModule>
<IfModule !mod_authz_core.c>
    <Files "config.php">
        Order allow,deny
        Deny from all
    </Files>
</IfModule>

# Prevent accidental directory listing and serve a minimal response
Options -Indexes
